{{template "base" .}} {{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <title>Go Web Server</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="/static/signal.js" type="module"></script>
    <script src="/static/counter.js"></script>
    <script src="/static/dropdown.js"></script>
    <script src="/static/updater.js"></script>
    <script src="/static/receiver.js"></script>
    <script src="/static/typeahead.js"></script>
    <script src="/static/signaler.js" type="module"></script>
    <script src="/static/htmx-extensions.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
  </head>

  <body class="flex flex-col p-2 gap-2" hx-ext="token,error">
    {{template "content" .}}
  </body>
</html>
{{end}}
