{{define "content"}}
<div class="flex items-center gap-2 flex-wrap">
  {{ if not .LoggedIn }}
  <a
    class="bg-yellow-200 border border-black rounded p-1 w-fit cursor-pointer"
    href="/signup"
    hx-boost="true"
  >
    Sign up
  </a>
  <a
    hx-boost="true"
    href="/signin"
    class="bg-red-200 border border-black rounded p-1 w-fit"
  >
    Sign in
  </a>
  {{ else }}
  <form hx-boost="true" method="post" action="/signout/">
    <button
      type="submit"
      class="bg-red-200 border border-black rounded p-1 w-fit"
    >
      Sign out
    </button>
  </form>
  <div>Logged in as</div>
  <div class="font-bold">{{.User.Username}} ({{.User.Email}})</div>
  {{ end }}
</div>
<form
  hx-post="/todos/"
  hx-target="#todos"
  hx-swap="beforeend"
  hx-on::after-request="this.reset();"
  class="flex gap-2 flex-wrap"
>
  <input
    name="text"
    placeholder="new todo"
    class="border border-black rounded-md p-1"
  />
  <button type="submit" class="bg-green-200 border border-black rounded p-1">
    Submit
  </button>
</form>
{{template "todos" .}} {{end}}
