{{define "content"}}
<div hx-boost class="flex gap-2 flex-wrap">
  {{ if not .LoggedIn }}
  <a
    class="bg-yellow-200 border border-black rounded p-1 w-fit"
    href="/signup/"
  >
    Sign up
  </a>
  <a class="bg-red-200 border border-black rounded p-1 w-fit" href="/signin/">
    Sign in
  </a>
  {{ else }}
  <form method="post" action="/signout/">
    <button
      type="submit"
      class="bg-red-200 border border-black rounded p-1 w-fit"
    >
      Sign out
    </button>
  </form>
  {{ end }}
</div>
<form
  hx-post="/todos/"
  hx-target="#todos"
  hx-swap="beforeend"
  class="flex gap-2 flex-wrap"
  hx-on::after-swap="this.reset()"
>
  <input
    name="text"
    placeholder="new todo"
    class="border border-black rounded-md p-1"
  />
  <button type="submit" class="bg-green-200 border border-black rounded p-1">
    Submit
  </button>
</form>
{{template "todos" .}} {{end}}
