{{define "content"}}
<form
  hx-post="/signup/"
  hx-target="body"
  class="flex flex-col gap-2 flex-wrap max-w-md"
>
  <div
    class="flex items-center border border-black rounded"
  >
    <input
      aria-label="Username"
      name="username"
      placeholder="Username"
      value="{{.Username}}"
      class="rounded grow p-1"
      required
      hx-get="/check/"
      hx-trigger="keyup changed delay:500ms"
      hx-target="#username-check"
   />
    <div id="username-check">
      {{if and .Error .Exists.Username}}
        {{template "incorrect"}}
      {{end}}
      {{ if and .Error (not .Exists.Username)}}
        {{template "correct"}}
      {{end}}
    </div>
  </div>

  <div
    class="flex items-center border border-black rounded"
  >
    <input
      aria-label="Email"
      name="email"
      type="email"
      placeholder="Email"
      value="{{.Email}}"
      class="rounded grow p-1"
      required
      hx-get="/check/"
      hx-trigger="keyup changed delay:500ms"
      hx-target="#email-check"
    />
    <div id="email-check">
      {{if and .Error .Exists.Email}}
        {{template "incorrect"}}
      {{end}}
      {{ if and .Error (not .Exists.Email)}}
        {{template "correct"}}
      {{end}}
    </div>
  </div>

  <input
    aria-label="Password"
    name="password"
    type="password"
    class="border border-black rounded p-1"
    placeholder="Password"
    required
  />

  <button
    aria-label="Sign up"
    type="submit"
    class="bg-blue-200 border border-black rounded p-1 w-fit"
  >
    Sign up
  </button>
</form>
{{if .Error}} {{template "error" .Error}} {{end}} {{end}}
