{{define "content"}}
<form
  hx-post="/signin"
  hx-target="body"
  hx-replace-url="true"
  class="flex flex-col gap-2 flex-wrap max-w-md"
>
  <input
    aria-label="Username or email"
    name="user"
    class="border border-black rounded p-1"
    placeholder="Username or email"
    value="{{.User}}"
    required
  />
  <input
    aria-label="Password"
    name="password"
    type="password"
    class="border border-black rounded p-1"
    placeholder="Password"
    required
  />
  <button
    aria-label="Sign in"
    type="submit"
    class="bg-blue-200 border border-black rounded p-1 w-fit"
  >
    Sign in
  </button>
</form>
{{if .Error}} {{template "error" .Error}} {{end}} {{end}}
